$primary-pale: hsl(225, 100%, 94%);
$primary-blue: hsl(245, 75%, 52%);
$neutral-very-pale: hsl(225, 100%, 98%);
$neutral-blue: hsl(224, 23%, 55%);
$neutral-dark: hsl(223, 47%, 23%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-offset: 4px;
  outline-color: $primary-blue;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: $neutral-blue;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../images/illustration-hero.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-pale;
  padding-top: 70px;
}

img {
  width: 100%;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 1px;

  &:focus {
  }

  &--primary {
    background-color: $primary-blue;
    color: white;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba($primary-blue, 0.4);
    transition: background-color 300ms;

    // &:hover,
    &:active {
      text-decoration: none;
      background-color: rgba($primary-blue, 0.7);
    }
  }

  &--cancel {
    color: $neutral-blue;
    font-weight: 900;
    transition: color 300ms;

    &:hover {
      color: $neutral-dark;
    }
  }
}

h1,
p {
  text-align: center;
}

h1 {
  color: $neutral-dark;
  font-size: 1.4rem;
  margin-bottom: 19px;
}

p {
  line-height: 1.5;
  margin-bottom: 23px;
}

.card {
  width: 87%;
  max-width: 334px;
  min-height: 567px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;

  &__information {
    padding: 31px 25px;
  }

  &__image {
    height: 160px;
  }
}

.icon {
  width: 48px;
  height: 48px;
}

.plan {
  background-color: $neutral-very-pale;
  margin: 0 auto 25px;
  display: flex;
  gap: 19px;
  padding: 21px 1rem 13px;
  font-size: 0.9rem;
  border-radius: 15px;

  span {
    color: $neutral-dark;
    font-weight: 700;
    line-height: 1.5;
  }

  button {
    width: auto;
    margin-left: auto;
    text-decoration: underline;
    color: $primary-blue;
    font-size: 0.8rem;
    letter-spacing: normal;
    transition: color 200ms;

    &:hover {
      text-decoration: none;
      color: rgba($primary-blue, 0.7);
    }
  }
}
