$primary-pale: hsl(225, 100%, 94%);
$primary-blue: hsl(245, 75%, 52%);
$neutral-very-pale: hsl(225, 100%, 98%);
$neutral-blue: hsl(224, 23%, 55%);
$neutral-dark: hsl(223, 47%, 23%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: $neutral-blue;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../images/illustration-hero.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-pale;
  padding-top: 70px;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1,
p {
  text-align: center;
}

h1 {
  color: black;
}

.card {
  width: 87%;
  max-width: 334px;
  min-height: 570px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.icon {
  width: 48px;
}

.plan {
  background-color: $neutral-very-pale;
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 19px;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 15px;

  span {
    color: $neutral-blue;
    font-weight: 700;
  }

  button {
    margin-left: auto;
    text-decoration: underline;
    font-weight: 700;
    color: $primary-blue;
  }
}
