*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px; }

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../images/illustration-hero.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0e8ff; }

img {
  width: 100%; }

.card {
  width: 89%;
  min-height: 570px;
  margin: 70px auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden; }

.icon {
  width: 48px; }
